<h1>Show Trail</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @trail.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @trail.description %>
  </li>

  <li>
    <strong>Start:</strong>
    <%= @trail.start %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.trail_path(@conn, :edit, @trail) %></span>
<span><%= link "Back", to: Routes.trail_path(@conn, :index) %></span>
